<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="{% static 'css/user_profile_style.css' %}">
    <script defer src="{% static 'js/user_profile_script.js' %}"></script>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="/browse/{{ user.user_id }} ">Browse</a></li>
          <li><a href="/subscription/">Subscriptions</a></li>
        </ul>
      </nav>
    </header>

    <div class="profile">
      <img src="https://w7.pngwing.com/pngs/933/97/png-transparent-computer-icons-avatar-heroes-public-relations-necktie-thumbnail.png" alt="Profile Picture" />
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    </div>
    
    <div class="bio">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos rerum nobis possimus, consectetur a fugit commodi cum, eligendi, tenetur ipsum quas quod eveniet minus voluptatum expedita consequatur cumque! Neque similique dicta quasi rerum, veritatis facere corporis alias harum quod asperiores quibusdam itaque accusamus reprehenderit deleniti voluptates laudantium illum facilis!
      </p>
    </div>

    <div class="actions">
     <button class="edit-profile-btn"><a href="/edit_profile/{{ user.user_id }}" style="text-decoration: none; color: black;">Edit Profile</a></button>
      <button class="logout-btn"><a href="/" style="text-decoration: none; color: black;">Log Out</a></button>
    </div>

    <div class="container-tabs-btn">
      <h1 id="book_read_tab" class="">Books Read</h1>
      <h1 id="authors_following_tab" class="tab-under-view">Authors following</h1>
    </div>

    <div class="container-tabs">
      <div class="books-read" name="book_read_tab">
        <div class="book-card">
          <div class="card-item">
            <img 
              src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/91Q5dCjc2KL.jpg" 
              alt="The Da Vinci Code">
            <div class="card-info">
              <h2>The Da Vinci Code</h2>
              <h3>Dan Brown</h3>
              <div class="rate">
                <i>ratings:</i> &nbsp;
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
              </div>
              <p class="review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quo sunt voluptatibus numquam facere non maxime consectetur tempora suscipit sit?
              </p>
            </div>
          </div>
        </div>

        <div class="book-card">
          <div class="card-item">
            <img 
              src="https://www.adobe.com/express/create/cover/media_178ebed46ae02d6f3284c7886e9b28c5bb9046a02.jpeg?width=400&format=jpeg&optimize=medium" 
              alt="The Da Vinci Code">
            <div class="card-info">
              <h2>The Da Vinci Code</h2>
              <h3>Dan Brown</h3>
              <div class="rate">
                <i>ratings:</i> &nbsp;
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
              </div>
              <p class="review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo itaque rem! Tenetur non odit maxime atque soluta enim quis fugiat dolor. Cum veritatis voluptatum deserunt natus nulla quaerat quod culpa esse ratione similique. Debitis corrupti molestias totam quo inventore, amet minima consequuntur quidem at culpa placeat nemo cumque neque eaque natus mollitia maxime accusamus non ipsa adipisci animi, porro cupiditate magnam in! Voluptates sit odit maiores ratione debitis nihil!
              </p>
            </div>
          </div>
        </div>

        <div class="book-card">
          <div class="card-item">
            <img 
              src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1637012564" 
              alt="The Da Vinci Code">
            <div class="card-info">
              <h2>The Da Vinci Code</h2>
              <h3>Dan Brown</h3>
              <div class="rate">
                <i>ratings:</i> &nbsp;
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
              </div>
              <p class="review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo itaque rem! Tenetur non odit maxime atque soluta enim quis fugiat dolor. Cum veritatis voluptatum deserunt natus nulla quaerat quod culpa esse ratione similique. Debitis corrupti molestias totam quo inventore, amet minima consequuntur quidem at culpa placeat nemo cumque neque eaque natus mollitia maxime accusamus non ipsa adipisci animi, porro cupiditate magnam in! Voluptates sit odit maiores ratione debitis nihil!
              </p>
            </div>
          </div>
        </div>

        <div class="book-card">
          <div class="card-item">
            <img 
              src="https://images.squarespace-cdn.com/content/v1/5ae2fce87e3c3ae275ea2c9f/1526464175408-W92Q4MSAM40I8YF4HM64/tess-cover.jpg?format=1500w" 
              alt="The Da Vinci Code">
            <div class="card-info">
              <h2>The Da Vinci Code</h2>
              <h3>Dan Brown</h3>
              <div class="rate">
                <i>ratings:</i> &nbsp;
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
              </div>
              <p class="review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo itaque rem! Tenetur non odit maxime atque soluta enim quis fugiat dolor. Cum veritatis voluptatum deserunt natus nulla quaerat quod culpa esse ratione similique. Debitis corrupti molestias totam quo inventore, amet minima consequuntur quidem at culpa placeat nemo cumque neque eaque natus mollitia maxime accusamus non ipsa adipisci animi, porro cupiditate magnam in! Voluptates sit odit maiores ratione debitis nihil!
              </p>
            </div>
          </div>
        </div>

        <div class="book-card">
          <div class="card-item">
            <img 
              src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" 
              alt="The Da Vinci Code">
            <div class="card-info">
              <h2>The Da Vinci Code</h2>
              <h3>Dan Brown</h3>
              <div class="rate">
                <i>ratings:</i> &nbsp;
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
                <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
              </div>
              <p class="review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo itaque rem! Tenetur non odit maxime atque soluta enim quis fugiat dolor. Cum veritatis voluptatum deserunt natus nulla quaerat quod culpa esse ratione similique. Debitis corrupti molestias totam quo inventore, amet minima consequuntur quidem at culpa placeat nemo cumque neque eaque natus mollitia maxime accusamus non ipsa adipisci animi, porro cupiditate magnam in! Voluptates sit odit maiores ratione debitis nihil!
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="authors-following visible" name="authors_following_tab">

        <div class="review-container">
          <div class="review-card">  
            <div class="card-item">
              <img src="https://www.shutterstock.com/image-illustration/male-default-placeholder-avatar-profile-260nw-582566758.jpg" alt="The Da Vinci Code">
              <div class="card-info">
                <h2>Author 1</h2>
                <div class="rate">
                  <i>popularity:</i> &nbsp;
                  <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                  <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                  <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                  <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                  <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                </div>
              </div>
            </div>
          </div>

            <div class="review-card">
              <div class="card-item">
                <img src="https://www.shutterstock.com/image-illustration/male-default-placeholder-avatar-profile-260nw-582566758.jpg" alt="The Da Vinci Code">
                <div class="card-info">
                  <h2>Author 2</h2>
                  <div class="rate">
                    <i>popularity:</i> &nbsp;
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="review-card">
              <div class="card-item">
                <img src="https://www.shutterstock.com/image-illustration/male-default-placeholder-avatar-profile-260nw-582566758.jpg" alt="The Da Vinci Code">
                <div class="card-info">
                  <h2>Author 3</h2>
                  <div class="rate">
                    <i>popularity:</i> &nbsp;
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star" style="color: gold; font-size: 20px;"></i>
                    <i class="fa fa-star-o" style="color: gold; font-size: 20px;"></i>
                  </div>
                </div>
              </div>
            </div>

        </div>

      </div>
    </div>

  </div>
</body>
</html>

