@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1e1e21;
	font-family: "Poppins", sans-serif;
	color: white;
	padding: 0 50px 50px 50px;
}

header {
	display: flex;
	justify-content: center;
}

.card-alert {
	background-color: #e50914;
	padding: 15px;
	text-align: center;
	max-width: 235px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
}

.card-alert h5 {
	font-weight: 300;
}

.card-alert h3 {
	font-weight: 600;
	font-size: 1rem;
}

main {
	margin-top: 80px;
}

.header {
	text-align: center;
	margin-bottom: 20px;
}

.header h2 {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.header p {
	font-size: 0.9rem;
}

.plan-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* toggle btn */

.toggle-btn {
	position: relative;
	width: 50px;
	height: 25px;
	display: inline-block;
	margin: 0 10px;
	
}

.toggle-btn input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	background-color: #e50914;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	border-radius: 34px;
	transition: 0.4s;
}

.slider::before {
	position: absolute;
	background-color: white;
	content: "";
	width: 19px;
	height: 19px;
	left: 4px;
	bottom: 3px;
	border-radius: 50%;
	transition: 0.4s;
}

/* .toggle-btn input:checked + .slider {
	background-color: #be3760;
}
 */

.toggle-btn input:checked + .slider:before {
	transform: translateX(23px);
}

.feature {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.feature p {
	font-size: 0.7rem;
	color: #f3f4f4;
}

.icon-circle {
	font-size: 0.3rem;
	color: #e50914;
	margin-right: 10px;
}

.price-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	justify-items: center;
}

.card {
	background-color: #22262c;
	padding: 35px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 320px;
	width: 320px;
}

.card-header {
	margin-bottom: 50px;
	text-align: center;
}

.card-header h3 {
	font-size: 0.9rem;
}

.btn {
	margin-top: 30px;
	background-color: #22262c;
	border: 1px solid #e50914;
	padding: 10px 30px;
	cursor: pointer;
	width: 100%;
	color: white;
	font-size: 0.8rem;
}

.btn-color {
	border: none;
	background-color: #000000;
}

/* select dropdown */

.custom-select {
	position: relative;
}

.icon-down {
	position: absolute;
	right: 25px;
	top: 13px;
	color: #8c9494;
}

select {
	background-color: #22262c;
	padding: 10px 25px;
	width: 100%;
	border: 1px solid #8c9494;
	color: #f3f4f4;
	border-radius: 0.2rem;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

small {
	font-size: 0.5rem;
	color: #e50914;
	margin-left: 20px;
}

.card-pro .card-header {
	margin-bottom: 20px;
}

.card-pro-package {
	margin-top: 20px;
}

.button{
	display: inline-block; 
	width: 250px; 
	height: 35px; 
	font-size: 20px; 
	background-color: maroon; 
	color:white;
	border: none;
	border-radius: 10px;
}

.button:hover{
	transform: scale(1.06);
	background-color: red;
	transition: all 0.3s ease;
}
